@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #e9d5ff;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: #c084fc;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #6b21a8;
}